
@{
    ViewBag.Title = "AdminOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminOptions</h2>
@Html.ActionLink("Doctor Details", "Index", "DoctorDetails")
@Html.ActionLink("Fee Details", "Index", "TreatmentDetails")
@Html.ActionLink("Appointment Details", "Index", "Appointments")

